  /* * {
      border: 2px solid blue
  }  */

  /* body and main styles */
  body {
    /* simple reset */
    margin: 0;
    padding: 0;
    /* base font of the page */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;
    max-width: 1200px;
    margin: 0 auto;
}

#tit{
    max-width: 100%;
    margin: 0 auto;
    color: #EF6108;
    padding: 15px; 
    
}

form {
    max-width: 800px;
    margin: 0 auto;

}

.formulario fieldset {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.formulario label {
    display: block;
    padding-top: 15px;
    font-size: large;
}
.labelalone {
    margin-left: 12px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
    display: block;
    background-color: #cbe4ea;
    border: 1px solid #97eafe;
    border-radius: 5px;
    padding: 10px;
    color: navy;
    width: 100%;
    max-width: 400px;
}

.formulario textarea {
    display: block;
    width: 100%;
}

.formulario input[type="submit"] {
    border: none;
    background-image: linear-gradient(#99e0f8, #08bbe7);
    color: navy;
    border-radius: 5px;
    padding: 15px;
    width: 90%;
    min-width: 400px;
    /* margin: -1rem 2% 2rem 2%; */
    box-shadow: 1px 1px 4px navy;
}

#boton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 15px;
}


.formulario input:required {
    border-bottom: solid 4px red;
}

.formulario input:required:valid {
    border-bottom: solid 4px green;
}

/* #map{
    max-width: 600px;
    margin: 0 auto;
} */

/* iframe{

    max-width: 100%;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
} */

@media screen and (min-width: 600px) {

    #tit{
        max-width: 100%;
        margin: 0 auto;
        color: #006599;
        font-size: x-large;
        
    }

/* #contenedor{
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formulario{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
    padding: 10px;
} */

#contenedor{
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;

}

.formulario input[type="text"],
.formulario input[type="email"] {
    
    width: 100%;
    margin: 0 auto;
    
}

#map{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 10px;
    padding: 10px;
    

}

}