/* * {
    border: 2px solid blue
}  */

.contenedorservices {
    display: block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 15px;
    margin: 0px 15px;

}

.services h2 {
    margin: 0 auto;
    width: 80%;
    color: #FDFAFD;
    background-color: #628203;
    border-radius: 10px;
    margin-top: 35px;
    border: 1px solid #628203;
    padding: 8px;
    box-shadow: 2px 5px #424242;

}

.pf section {
   margin: 15px;
   padding: 10px;
   background-color: #006599;
   color:#FDFAFD

}

@media screen and (min-width: 600px) {

    .services h2 {
        
        box-shadow: none;
        border: none;
        background-color:#FDFAFD;
        color:#EF6108;
        font-size: xx-large;
    
    }


.pf {   
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    

}

.pf section{
    background-color:#EF6108 ;

}


}