.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {

    border: 1px solid green;
    text-align: center;
    /*width: 400px;*/
    height: 300px;

    flex: 1 1 350px;
    /*stretching*/
    /*flex: 0 1 150px; not stretching*/
    margin: 5px;
}


#flagMX {
    width: 60px;
    height: 30px;
}

#nameCity {
    text-align: center;
    padding: 8px;

}

#lastModified {
    text-align: center;

}

footer {
    background-color: rgb(0, 79, 112);
    color: white;
    padding: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}